#download {
  & .card {
    position: relative;
    padding: 3rem 1.5rem 15rem;
  }

  & a > img {
    width: 11.125rem;
  }

  & .buttons {
    margin-top: 2rem;
  }

  & div + img {
    width: 14.875rem;
    position: absolute;
    bottom: 0;
    right: -3.5rem;
  }

  @media (width >= 80em) {
    & .card {
      display: flex;
      padding: 8.75rem 5rem;

      & div:nth-child(1) {
        max-width: 40rem;
      }

      & .buttons {
        display: flex;
      }

      & div + img {
        width: 29.125rem;
      }
    }
  }
}
