a.social {

  --bg-img: "";
  background-image: var(--bg-img);
  width: 1.5rem;
  height: 1.5rem;
  display: block;

  -webkit-background-clip: initial;
  background-clip: initial;

  &[aria-label="tiktok"] {
    --bg-img: url(../Assets/Icons/tiktok.svg);

    &:hover {
      --bg-img: url(../Assets/Icons/tiktok-hover.svg);
    }
  }

  &[aria-label="instagram"] {
    --bg-img: url(../Assets/Icons/instagram.svg);

    &:hover {
      --bg-img: url(../Assets/Icons/instagram-hover.svg);
    }
  }

  &[aria-label="twitter"] {
    --bg-img: url(../Assets/Icons/twitter.svg);

    &:hover {
      --bg-img: url(../Assets/Icons/twitter-hover.svg);
    }
  }

  &[aria-label="discord"] {
    --bg-img: url(../Assets/Icons/discord.svg);

    &:hover {
      --bg-img: url(../Assets/Icons/discord-hover.svg);
    }
  }
}
