.padding-y-base {
  padding-block: var(--padding-y-base);
}

.padding-y-large {
  padding-block: var(--padding-y-large);
}

.padding-y-xl {
  padding-block: var(--padding-y-xl);
}

.padding-x {
  padding-inline: var(--padding-x);
}

.container {
  --max-width: 375px;
  width: min(var(--max-width), 100% - var(--padding-x) * 2);
  margin-inline: auto;
}

.desktop-only {
  display: none;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

.flex {
  display: flex;
}

.items-center{
  align-items: center;
}

.gap-1{
  gap: 1rem;
}

.gap-1\.5{
  gap: 1.5rem;
}

.grid{
  display: grid;
}

@media (width >= 80em) {
  .container {
    --max-width: 80rem;
  }

  .desktop-only {
    display: initial;
  }

  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
